.instagram {
    background-color: rgb(240, 236, 236);
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding-bottom: 0px;
}

#instagramTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 125px;
    padding-bottom: 25px;
}

#instagramContent {
    background: rgb(240, 236, 236); 
    /* padding: 20px;   */
    
}

#insta {
    max-width: 400px;
}

a { color: inherit; } 

.gallerySocials {
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px #D1CDC7 ;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 0px;
    margin: 10px;
}

