.instagram {
    background-color: rgb(240, 236, 236);
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding-bottom: 30px;
}

#instagramTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 125px;
    padding-bottom: 25px;
}

#instagramContent {
    background: rgb(240, 236, 236); 
    padding: 20px;  
    
}

