.flavors {
    z-index: 2;
    background-color: #EFEEEE;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
}

#flavorsTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 125px;
    padding-bottom: 25px;
}  

#flavorList {
    max-width: 900px;
}

#selectedFlavor {
    max-width: 800px;
    border-radius: 10px;
    padding: 10px;
}

#currentCupcakeImage {
    box-shadow: -6px -6px 16px #FFFFFF, 6px 6px 16px #D1CDC7;
}

#currentFlavor {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;  
}

#description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}