.gram {
    width: 185px;
    height: 185px;
    margin: 5px;    
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px #D1CDC7 ;
    /* border-radius: 10px;     */
    object-fit: cover;
}

@media screen and (min-width: 450px) {
    .gram {
        width: 200px;
        height: 200px;
        margin: 5px;    
        box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px #D1CDC7 ;
        /* border-radius: 10px;     */
        object-fit: cover;
    }
}

@media screen and (min-width: 675px) {
    .gram {
        width: 230px;
        height: 230px;
        margin: 5px;    
        box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px #D1CDC7 ;
        /* border-radius: 10px;     */
        object-fit: cover;
    }
}