.pricing {
    background-color: #EFEEEE;
    width: 100%;
    margin: 0px;
}

#pricingTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 125px;
    padding-bottom: 25px;
}

.priceList {
    max-width: 400px;
    height: 800px;
    box-shadow: -6px -6px 16px #FFFFFF, 6px 6px 16px #D1CDC7;
    border-radius: 10px;
    padding: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    margin: 25px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
}

li {
    list-style-type: none; 
    text-align: center; 
}