.pricing {
    background-color: #E0E5EC;
    width: 100%;
    margin: 0px;
}

.frostingContainer {
    overflow: hidden;
}
   
.frosting {
       height: 100%;
}

#pricingTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 125px;
    padding-bottom: 25px;
}

.priceList {
    max-width: 400px;
    min-height: 800px;
    box-shadow: -6px -6px 16px #f3f8ff, 6px 6px 16px #abafb4;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    margin: 25px;
    
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
}

h4 {
    font-family: 'Montserrat', sans-serif;
    
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    list-style-type: none; 
    text-align: center; 
    font-size: 15px;
}