.contact {
    background-color: #bcd4c6;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding-top: 100px;
}

#contactTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 50px;
}  

#contactContent {
    max-width: 400px;
}

.icon {
    height: 60px;    
}

.bjicon {
    height: 20px;    
}

.social {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px; 
}



#madeby {
    height: 30px;
    width: 350px;
    margin-top: 75px;
}


.socials {
    box-shadow: -6px -6px 16px #def8e9, 6px 6px 16px #98aca0;
    max-width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 0px;
    margin: 10px;
}