button {
    color: #42403d;
    width: 190px;
    box-shadow: -6px -6px 16px #FFFFFF, 6px 6px 16px #D1CDC7;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

button:focus{
    outline: none;
    box-shadow: -6px -6px 12px #FFFFFF inset, 6px 6px 12px #D1CDC7 inset;
    font-weight: 700;
}